
html,body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
 h1,h2,h3,h4,h5,h6{
    font-family: var(--headingfontfamily);
 }
 p,a,span,input,label,div,button{
  font-family: var(--bodyfontfamily);
 }
 ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 a{
   margin: 0px;
    padding: 0px;
  text-decoration: none;
 }
.dropdown div a {
  display: block;
}


.dropdown div .content {
  display: none;
  background-color: #ebebeb;
  transition: all 5s ease;
}

.dropdown div .content.active {
  display: block;
}




.navigation {
    background: var(--primarycolor);

    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.main_pc_header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 80px;
    background: var(--primarycolor);

    width: 100%;
    box-sizing: border-box;
}

.main_pc_header .logo {
    color: #fff;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

.main_pc_header .pc_header {
    float: right;
}

.main_pc_header .pc_header ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.main_pc_header .pc_header ul li {
    list-style-type: none;
    position: relative;
}

.main_pc_header .pc_header ul .sub-menu svg {
    margin-left: 5px;
}

.main_pc_header .pc_header ul li .dropmenu {
    position: absolute;
    left: 0;
    background: var(--primarycolor);

    display: none;
}

.main_pc_header .pc_header ul li:hover .dropmenu {
    display: block;
}

.main_pc_header .pc_header ul li .dropmenu li {
    display: block;
    width: 200px;
}

.main_pc_header .pc_header ul li a,
.main_pc_header .pc_header ul li a:hover {
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    font-size: 18px;
    color: #fff !important;
    text-decoration: none;
    display: block;
}

.main_pc_header .pc_header ul li a:hover {
    color: #fff;
    background: #2196f3;
}

.test {
    display: none;
}

#logo {
    width: 30%;
}

#nav {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

#nav li {
    list-style: none;
}

#nav li a {
    color: #fff;
    text-decoration: none;
}

.ham {
    display: none;
}

#side_nav_bar {
    z-index: 1000 !important;
}

.body-content {
    margin-top: 70px;
}
.sidebar_mobile li: hover{
    background: #e8ecef;
}

/*-----------------------------------------FOOTER---------------------------------------*/

.footer {
    width: 100%;
    background-color: #c7c7c7;
}

.footer_body {
    width: 100%;
    padding: 50px 50px;
    display: flex;
    flex-flow: row wrap;
}

.footer_img {
    width: 40%;
}

.footer_img img {
    width: 100%;
}

.footer_links {
    width: 60%;
}

.footer_links_1 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
}

.footer_links ul {
    margin: 0px 40px;
}

.footer_links li {
    list-style-type: none;
    line-height: 2rem;
}

.footer_links a {
    color: #4d4d4d;
    font-size: 18px;
    line-height: 26px;
}

.footer_footer {
    padding: 30px 30px;
    width: 90%;
    margin: auto;
    border-top: 2px solid #f9f9f9;
}

.made_in_india {
    float: right;
}


/*--------------------------------------footer ends here-------------------*/


/*------------------------------------responsive--------------------*/

@media screen and (max-width: 800px) {
    .main_pc_header {
        display: none;
    }
    .ham {
        display: block;
        width: 98%;
    }
    .ham span {
        float: right;
        padding: 15px 20px 10px 20px;
        color: #fff;
    }
    #nav {
        display: none;
    }
    /*------------------------------------sidebarcss----------------------*/
    .test {
        display: block;
    }
    .sidebar {
        position: fixed;
        width: 80%;
        height: 100%;
        top: 0px;
        left: -100%;
        background-color: #fff;
    }
    .test {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    /*----------------------SIDEBAR DESIGNS---------------------*/
    .test ul {
        margin-top: 0px;
        position: relative;
        text-align: right;
        color: #000;
        width: 100%;
        margin: auto;
    }

    .test ul li {
        list-style-type: none;
        line-height: 2rem;
        font-size: 1rem;
        width: 100%;
        padding: 5px 20px 5px 20px;
        text-align: left;
        display: inline-block;
        position: relative;
        transition-duration: 0.3s;
        transition-property: transform;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    }
     .test ul li:hover,.test ul li:active{
      background: #e8ecef;
     }

    .test .sidebar_mobile li .text {
        margin-left: 10px ;
    }
    .sidebar_company {
        width: 80%;
        margin: 10px auto;
        text-align: center;
        height: 80px;
        border-bottom: 1px solid #e9ecef;
    }


    /*----------------SIDEBAR DESIGN ENDS HERE----------------*/
    .nav_footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        top: 85%;
        left: 0px;
        right: 0px;
    }
    .nav_footer_1 {
        width: 100%;
        height: 100%;
        background: var(--primarycolor);

        position: relative;
    }
    .nav_footer_2 {
        color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        text-align: center;
    }
    .nav_footer_2 h1 {
        font-size: 24px;
    }
    .nav_footer_2 p {
        font-size: 0.7rem !important;
    }

    .sidebar_company img {
        width: 100%;
        height: 100%;
    }
    /*----------------------------sidebar css ends------------------*/
    /*----------------------footer----------------------------*/
    .footer_body {
        width: 100%;
        padding: 20px;
        display: block;
    }
    .footer_img {
        width: 98%;
    }
    .footer_links {
        width: 100%;
    }
    .footer_links_1 {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        margin: auto;
        justify-content: normal;
    }
    .footer_links ul {
        margin: 20px 0px;
        padding: 0;
        width: 50%;
    }
    .footer_footer {
        padding: 20px 20px;
        margin: auto;
        font-size: 12px;
        border-top: 2px solid #f9f9f9;
        width: 100%;
        text-align: center;
    }
    .made_in_india {
        float: right;
        padding: 10px 0px;
        width: 100%;
        text-align: center;
    }
}