.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
    resize: none;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}


  /*-- modal_close Button--------*/
  .modal_close {
    color: #000;
    font-size: 28px;
    font-weight: bold;
  }

  .modal_close:hover,
  .modal_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  @keyframes slideIn {
    from {
                  bottom: -100px;
                  opacity: 0;
              }
              to {
                  opacity: 1;
              }
            }

  @keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }
  .modal-body input{
    font-size: 18px;
    line-height: 26px;
    padding: 5px 5px;
    margin: 10px 0px 20px 0px;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    width: 100%;
    color: #1a181e;
}
/*-----------------------------ASK MOBILE NUMBER HEN SUBSCRIBE--------------*/
.mobile_form{
  text-align: center;
  padding-bottom: 40px;
}
.mobile_form button{
  font-size: 20px;
  width: 48%;
  height: 40px;
  background-color: #146eb4;
  border-radius: 5px;
  color: #fff;
  border:0;
  outline: none;
}
.mobile_form h1{
  margin: 10px 0px 20px 0px !important;
  font-size: 24px;
  }
  .mobile_form p{
    margin: 0px 0px 2rem 0px;
    text-align: center;
  }
 .mobile_form .modal-content {
    position: fixed;
    bottom: 30%;
    left: 32%;
    background-color: #fefefe;
    width: 35%;
    margin: auto;
    padding: 1rem 1rem 3rem 1rem ;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  .mobile_form .modal-header {
    padding-bottom: 1rem;
    text-align: right;
  }

  @media only screen and ( max-width: 600px){
    .mobile-form .modal-body {
    padding: 60px 16px;
}
.mobile_form .modal-header {
    padding-top: 0rem;
    text-align: right;
}

  .mobile_form .modal-content {
      border-radius: 20px 20px 0px 0px;
      position: fixed;
      bottom: 0px;
      left: 0px;
      background-color: #fefefe;
      width: 100%;
      margin: auto;
      -webkit-animation-name: slideIn;
      -webkit-animation-duration: 0.4s;
      animation-name: slideIn;
      animation-duration: 0.4s;
  }
  }
/*-----------------------more modal-------------*/
.modal_content_moremodal{
    position: fixed;
    bottom: 30%;
    left: 32%;
    background-color: #fefefe;
    width: 44%;
    margin: auto;
    padding: 1rem 1rem 3rem 1rem;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}


  .more_modal_box{
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
}
.more_image{
    width: 30%;
}
.more_modal_img{
    width: 120px;
    height: 120px;
    text-align: center;
    margin: auto;
}
.more_modal_img img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.more_text{
    width: 65%;
    padding-left: 20px;
    text-align:left;
}
.more_text p{
    text-align:left;
}
.address p{
  margin: 5px 0px;
}
.more_text_name h3{
  margin: 5px 0px;
}
.more_text_contact,.more_text_category{
  margin: 10px 0px;
}
.more_text_category{
  font-size: 12px;
}
@media only screen and ( max-width: 800px){
.more_modal_box{
    margin: auto;
    display: block;
    text-align: center;
    flex-flow: row wrap;
    padding: 0px 0px 20px 0px;
}
 .modal_content_moremodal {
      border-radius: 20px 20px 0px 0px;
      position: fixed;
      bottom: 0px;
      left: 0px;
      background-color: #fefefe;
      width: 100%;
      margin: auto;
      -webkit-animation-name: slideIn;
      -webkit-animation-duration: 0.4s;
      animation-name: slideIn;
      animation-duration: 0.4s;
  }
.more_image{
    width: 100%;
}
.more_modal_img {
    width: 90px;
    height:90px;
    text-align: center;
    margin: auto;
}

.more_modal_img img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.more_text p {
    text-align: center;
}
.more_text{
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
    text-align:center;
}
}/*----------------------business more modal-----------------*/

