.new_inventory{
    margin: auto;
    margin-bottom: 100px;
    width: 80%;
}
.add_product_image{
  padding: 20px;
  margin: 20px 0px;
}
.add_product_image_label{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}


.image_form .image_grid {
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content: space-around;
  }
  .image_form .image_grid .image_upload_div {
    width:200px;
    height:200px;
    box-shadow:0px 0px 20px 5px rgba(100,100,100,0.1);
  }
  .image_form .image_grid .image_upload_div input {
    display:none;
  }
  .image_form .image_grid .image_upload_div img {
    width:100%;
    height:100%;
  }
  .image_form .image_grid .image_upload_div div {
    position:relative;
    overflow: hidden;
    height:40px;
    margin-top:-45px;
    background:rgba(0,0,0,0.5);
    text-align:center;
    line-height:40px;
    font-size:13px;
    color:#f5f5f5;
    font-weight:600;
  }
  .image_form .image_grid .image_upload_div div span {
    font-size:40px;
  }
  .image_form label {
      width: 100%;
      height: 100%;
      display: inline-block;
      margin-bottom: .5rem;
  }



.add_product_details{
  padding: 20px;
    margin: 20px 0px;
}

.add_product_details_context{
  display: flex;
  flex-flow: row wrap ;
  margin: auto;
  justify-content: space-around;
}
.each_block,.each_block_pack_size{
  width: 48.5%;
  margin-right: 10px;
}

.add_product_details_context label{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    width: 100%;
}

.add_product .star{
  color: #e50b20;
}


.add_product_details_context input{
    font-size: 18px;
    line-height: 26px;
    padding: 11px 16px;
    border-radius: 4px;
    margin: 10px 0px 30px 0px;
    border: 1px solid #d9d9d9;
    width: 100%;
    color: #1a181e;
}
.add_product_details_context textarea{
  font-size: 18px;
    line-height: 26px;
    padding: 11px 16px;
    border-radius: 4px;
    margin: 10px 0px 30px 0px;
    border: 1px solid #d9d9d9;
    width: 100%;
    color: #1a181e;
}
.pack_size{
  width: 44% !important;
  font-size: 18px !important;
    line-height: 26px !important;
    padding: 9px 16px !important;
    border-radius: 4px !important;
    margin: 10px 0px 30px 0px !important;
    border: 1px solid #d9d9d9 !important;
    color: #1a181e !important;
}
.star{
  color: red;
}
.unit_selecter{
 font-size: 18px;
    line-height: 26px;
    padding: 11px 16px;
    border-radius: 4px;
    margin: 10px 0px 30px 0px;
    border: 1px solid #d9d9d9;
    width: 100%;
    color: #1a181e;
}
.category_selecter{
  font-size: 18px;
    line-height: 26px;
    padding: 11px 16px;
    border-radius: 4px;
    margin: 10px 0px 30px 0px;
    border: 1px solid #d9d9d9;
    width: 100%;
    color: #1a181e;
}
.unit_selecter .option{
  font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    width: 100%;
}
.addproduct{
    font-size: 20px;
    width: 40%;
    height: 40px;
    background-color: #146eb4;
    border-radius: 5px;
    color: #fff;
    border:0;
    outline: none;
}
.addproductbutton{
  margin:auto;
  text-align: center;
}
@media only screen and ( max-width: 600px){
    .image_form .image_grid .image_upload_div {
    width: 100%;
    height: 200px;
    box-shadow: 0px 0px 20px 5px rgb(100 100 100 / 10%);
}
  .add_product_details_context input {
    font-size: 18px;
    line-height: 20px;
    padding: 6px 16px;
    border-radius: 4px;
    margin: 10px 0px 30px 0px;
    border: 1px solid #d9d9d9;
    width: 100%;
    color: #1a181e;
}
.image_form .image_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

    .new_inventory{
        width: 100%;
        margin: auto;
        margin-bottom: 100px;
    }
.add_product{
  width: 98%;
  margin: auto;
  float: none;
  border-radius: 10px;
  border: none !important;
}
.add_product_details_context label {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 0 !important;
}
.add_product_details_context {
    display: flex;
}
.each_block {
    width: 100%;
    margin-right: 10px;
}
.each_block_pack_size{
  width: 47% !important;
}
.add_product_heading {
    text-align: center;
}
.add_product_image {
    padding: 10px 0px;
    margin: 20px 0px;
}
.add_product_details {
    padding: 10px;
}
.add_product_details_heading {
    margin-bottom: 20px;
    text-align: center;
}

.add_product_details_context input {
    margin: 10px 0px 20px;
}
.pack_size{
  width: 36% !important;
  padding: 6px 16px !important;
}
.unit_selecter {
    font-size: 18px;
    line-height: 20px;
    padding: 5px 16px;
    border-radius: 4px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #d9d9d9;
    width: 100%;
    color: #1a181e;
}

.addproduct{
    font-size: 20px;
    width: 98%;
    height: 40px;
    background-color: #146eb4;
    border-radius: 5px;
    color: #fff;
    border:0;
    outline: none;
}
.addproductbutton{
  margin:auto;
  text-align: center;
}
}


/*----------------trial------------*/


