{% extends './base.html' %} {% block content %} {% load static %} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static './css/landing_website/address/newaddress.css' %}">

</head>

<body>

    <div class="new_address">
        <div class="new_address_heading">
            <h3>Add New Address</h3>
        </div>
        <form action="#" method="POST">
            {% csrf_token %}
        </form>
        <form class="new_address_body" action="{% url 'confirm_order'  %}" method="GET">
            <input type="hidden" name="quantity" id="quantity" value="{{quantity}}">
            <input type="hidden" name="product_type_id" value="{{product_obj.id}}">
            <input type="hidden" name="buy_mode" value="{{buy_mode}}">
            <input type="hidden" name="business_key" value="{{business_obj.business_key}}">
            <label>Name<span class="star"> *</span></label>
            <input type="text" name="name" placeholder="name" value="{{address.name}}">
            <label>Mobile Number<span class="star"> *</span></label>
            <input type="number" name="mobile" placeholder="mobile" value="{{address.mobile}}" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
            <label>Pin Code<span class="star"> *</span></label>
            <input type="number" id="pincode" name="pincode" placeholder="pincode" value="{{address.pincode}}">
            <label>Building<span class="star"> *</span></label>
            <input type="text" name="building" placeholder="building" value="{{address.building}}">
            <label>Street<span class="star"> *</span></label>
            <input type="text" id="street" name="street" placeholder="street" value="{{address.street}}">
            <label>Landmark</label>
            <input type="text" name="landmark" placeholder="landmark" value="{{address.landmark}}">
            <label>City<span class="star"> *</span></label>
            <input type="text" id="city" name="city" placeholder="city" value="{{address.city}}">
             <label>State<span class="star"> *</span></label>
            <select name="state" id="state">
                    {% for state in state_list %}
                <option value="{{state}}">{{state}}</option>
                    {% endfor %}

                </select>
            <label>Type<span class="star"> *</span></label>
            <select name="address_type" id="">
                    {% for address_type in address_type_list %}
                        {% if address_type == address.address_type %}
                        <option value="{{address_type}}" selected>{{address_type}}</option>
                        {% else %}
                        <option value="{{address_type}}">{{address_type}}</option>
                        {% endif %}
                    {%  endfor %}
                </select>
            <button type="submit" name="btn" value="new_order_address" id="submit_btn">New</button>
        </form>
        <div class="new_address_button">
            <button onclick="clickSubmitButton(event)">Add Address</button>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
    function clickSubmitButton(e) {
        present_container = e.currentTarget;
        parent_container = present_container.parentNode;
        let submit_btn = document.getElementById("submit_btn");
        submit_btn.click();
    }

    window.onload = (event) => {
        fetch_coordinates();
    }

    function fetch_coordinates() {
            var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
        };

        function success(pos) {
        var crd = pos.coords;

        fetch_formatted_address_from_coordinates(`${crd.latitude}`, `${crd.longitude}`);
        }

        function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
        }

        navigator.geolocation.getCurrentPosition(success, error, options);
    }

    function fetch_formatted_address_from_coordinates(lat, long) {
        $.post(
            '/fetch-formatted-address', {
               latitude:lat,
               longitude:long,
               csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            },
            function(data) {
                let results_set = data.results;
                let i=0;
                for(i=0;i<results_set.length;i++) {
                    if(results_set[i].types[0] == 'street_address') {
                        //console.log(results_set[i].types[0]);
                        break;
                    }
                }
                //console.log(results_set[i].address_components);
                let street = "", city="", state="", country="", pincode="";
                for(let j=0;j<results_set[i].address_components.length;j++) {
                    if(results_set[i].address_components[j].types[0] == 'street_number') 
                        street = results_set[i].address_components[j].long_name;

                    if(results_set[i].address_components[j].types[0] == 'route')
                        street = street +", "+ results_set[i].address_components[j].long_name;
                    
                    if(results_set[i].address_components[j].types[0] == 'locality')
                        city = results_set[i].address_components[j].long_name;

                    if(results_set[i].address_components[j].types[0] == 'administrative_area_level_1')
                        state = results_set[i].address_components[j].long_name;

                    if(results_set[i].address_components[j].types[0] == 'country')
                        country = results_set[i].address_components[j].long_name;

                    if(results_set[i].address_components[j].types[0] == 'postal_code')
                        pincode = results_set[i].address_components[j].long_name;

                }

                document.getElementById('street').value = street;
                document.getElementById('city').value = city;
                document.getElementById('pincode').value = pincode;
                document.getElementById('state').value = state;
            }
        );
    }

</script>

</html>
{% endblock %}