{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static './css/customer/auth/customer_auth.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="{% static './js/password_validation.js' %}" defer=true></script>
</head>

<style>
    .before_login_pc{
        background-image: url("{% static './images/all_background.png' %}");
    }
    .before_login_pc_body_left {
        background-image: url("{% static './images/bg_svg_img.png' %}");
    }
</style>

<body>
    <div class="before_login_pc">
        <div class="before_login_pc_body">
            <div class="before_login_pc_body_left">


                <div class="before_login_pc_body_left_overlay_headtext">
                    <h3>The easy way to shop !</h3>
                </div>

                <div class="before_login_pc_body_left_overlay_body">
                    <div class="before_login_pc_body_left_overlay_bodyimage">
                        <div class="before_login_pc_body_left_overlay_bodyimage_image">
                            <<img src="{% static './images/customerview.png' %}">
                        </div>
                    </div>
                </div>


                <div class="before_login_pc_body_left_overlay_footertext">
                    <p>Get all your products from your local stores</p>
                    <p>All in the same Place</p>
                </div>

            </div>
            <div class="before_login_pc_body_right">
                <div class="before_login_pc_body_right_body">
                    <div class="before_login_pc_body_right_box">

                        <div class="before_login_pc_body_right_top">
                            <div class="before_login_pc_body_right_box_header">
                                <span class="before_login_pc_body_right_box_header_arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-chevron-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </span>
                            </div>

                            <div class="before_login_pc_body_right_box_up">
                                <span class="before_login_pc_body_right_box_up_name">
                                    <a href="">Apni dukan</a>
                                </span>
                            </div>
                        </div>

                        {% if page == 'inside' %}
                        <form class="before_login_pc_body_right_box_middle" action="{% url 'inside_signup' %}" method="POST">
                        {% else %}
                        <form class="before_login_pc_body_right_box_middle" action="{% url 'customer-signup' %}" method="POST">
                        {% endif %}
                        {% csrf_token %}
                            <div class="before_login_pc_body_right_box_middle_text">
                                <h3>Almost there</h3>
                                <p class="pblue">One last step and you will be all set !</p>
                            </div>

                            <div class="before_login_pc_body_right_business_id_box_middle_form">

                                <div class="before_login_pc_body_right_business_id_box_middle_form_input">
                                    <span class="input_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                        </svg>
                                    </span>
                                    <span class="input_field">
                                        <input type="hidden" name="mobile_number" value="{{mobile_number}}">
                                        {% if page == 'inside' %}
                                        <input type="hidden" name="business_key" value="{{business_key}}">
                                        <input type="hidden" name="product_key" value="{{product_key}}">
                                        <input type="hidden" name="quantity" value="{{quantity}}">
                                        <input type="hidden" name="hidden_btn" value="{{hidden_val}}">
                                        {% endif %}
                                        <input type="text" name="customer_name" placeholder="Full Name" required>
                                    </span>
                                </div>

                            </div>
                            <div class="before_login_pc_body_right_password_box_middle_form">

                                <div class="before_login_pc_body_right_password_box_middle_form_input">
                                    <span class="input_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                            <path
                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                        </svg>
                                    </span>
                                    <span class="input_field">
                                        <input type="password" placeholder="Password" name="password" id="password" oninput="password_validation();" required>
                                    </span>
                                </div>

                            </div>
                            <div class="before_login_pc_body_right_password_box_middle_form">

                                <div class="before_login_pc_body_right_password_box_middle_form_input">
                                    <span class="input_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                            <path
                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                        </svg>
                                    </span>
                                    <span class="input_field">
                                        <input type="password" placeholder="Confirm Password" name="cpassword" id="cpassword" oninput="password_matching('password','cpassword','signup_submit','message')" required>
                                    </span>
                                </div>

                            </div>
                            <div class="before_login_pc_body_right_box_middle_text">
                                <p class="pgrey" style="color:#9999b1;font-size: 0.8rem;" id="message"></p>
                            </div>


                            <div class="before_login_pc_body_right_box_middle_buttons">
                                <input type="hidden" name="password_mode" value="signup">
                                <button type="submit" id="signup_submit">Finish</button>
                            </div>



                        </form>

                        <div class="before_login_pc_body_right_box_base">
                            <span class="before_login_pc_body_right_box_base_text">
                                @Apni Dukan 2021. All Right Reserved
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript">
    function password_validation() {
        $.post(
            '/customer-signup', {
                password_mode: 'validation',
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                password: $('input[name="password"]').val(),
            },
            function(data) {
                document.getElementById('message').innerHTML = data.error;
                if (data.error == "") {
                    console.log();
                } else {
                    let signup_submit_container = document.getElementById('signup_submit');
                    signup_submit_container.disabled = true;
                    signup_submit_container.style.opacity = "0.4";
                }
            }
        );

    }
</script>

</html>