<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .error {
            width: 80%;
            margin: auto;
            height: 400px;
        }
        
        .error_500 {
            width: 80%;
            margin: auto;
            text-align: center;
            font-size: 3rem;
            text-align: center;
            margin-top: 300px;
        }
    </style>
</head>

<body>
    <div class="error">
        <h1 class="error_500">Server Error Oh yeah</h1>
    </div>
</body>

</html>