{% extends './base.html' %} {% block content %} {% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static './css/landing_website/about.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="aboutus">
        <div class="aboutus_heading">
            <h3>About Us</h3>
        </div>
        <div class="aboutus_body">
            <div class="aboutus_body_first">
                <div class="aboutus_body_left">
                    <p>We are a group of dark horses who believes that technology can positively change millions of lives. We have picked up the mission to redefine the way businesses operate in India by showing them the power of the internet to build, scale
                        and organize businesses in the coolest possible way.</p>
                    <br>
                    <p>"We are not in the business of building digital storefronts - we are in the business of building entrepreneurs."</p>
                    <br>
                    <p>"We are not in the business of building digital storefronts - we are in the business of building entrepreneurs."</p>
                </div>
                <div class="aboutus_body_right">
                    <img src="test1.jpeg">
                </div>
            </div>
            <div class="aboutus_body_second">
                <div class="aboutus_body_second_heading">
                    <h3>what we value at _______</h3>
                </div>
                <ul class="values">
                    <li class="liblock">
                        <div class="li_img"><img src="check.png"></div>
                        <div class="li_text">Best experience for customer</div>
                    </li>
                    <li class="liblock">
                        <div class="li_img"><img src="check.png"></div>
                        <div class="li_text">Dream Big</div>
                    </li>
                    <li class="liblock">
                        <div class="li_img"><img src="check.png"></div>
                        <div class="li_text">Start With Customers</div>
                    </li>
                    <li class="liblock">
                        <div class="li_img"><img src="check.png"></div>
                        <div class="li_text">Move Uncomfortably Fast</div>
                    </li>
                    <li class="liblock">
                        <div class="li_img"><img src="check.png"></div>
                        <div class="li_text">Thoughtful Decision Making</div>
                    </li>
                    <li class="liblock">
                        <div class="li_img"><img src="check.png"></div>
                        <div class="li_text">Perfect Choice</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>
{% endblock %}