{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents</title>
    <link rel="stylesheet" href="{% static './css/landing_website/base/header.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="navigation">
        <!----------------------------pc_header starts here-------------------------------------->
        <header class="main_pc_header">
            <div class="logo">logo</div>
            <nav class="pc_header">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'customer-login' %}">Login</a></li>
                    <li><a href="{% url 'customer-signup' %}">Signup</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!----------------------------pc_header ends here-------------------------------------->
        <div class="ham">
            <span id="open" class="hamicon_down" onclick="control_side_navbar('side_nav_bar','open');">  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg></span>

            <span id="close" class="hamicon_down" onclick="control_side_navbar('side_nav_bar','close');" style="display: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </span>
        </div>
    </div>
    <!----------------------sidebar starts here------------------------->
    <div class="sidebar" id="side_nav_bar">


        <div class="test">
            <div class="sidebar_company">
                <img src="{% static './images/1.png' %}">
            </div>
             <ul class="sidebar_mobile">
                 <a href="{% url 'home' %}">
                <li>
                    <span class="sidebar_icons">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                        </svg>
                    </span>
                    <span class="text"> Home</span>
                  </li>
                </a>
                    <a href="{% url 'customer-login' %}">
                         <li>
                            <span class="sidebar_icons">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    </svg>
                                </span>
                            <span class="text">Login</span>
                        </li>
                    </a>


                    <a href="{% url 'customer-signup' %}">
                         <li>
                            <span class="sidebar_icons">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                            </span>
                            <span class="text">Signup</span>
                        </li>
                    </a>







                <a href="{% url 'about' %}">
                <li>
                    <span class="sidebar_icons">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                        </svg>
                    </span>
                    <span class="text">About Us</span>
                </li>
                </a>

                <li>
                    <a href="{% url 'contact' %}">
                    <span class="sidebar_icons">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                        </svg>
                    </span>
                    <span class="text">Contact Us</span>
                    </a>
                </li>

            </ul>
            <div class="nav_footer">
                <div class="nav_footer_1">
                </div>
                <div class="nav_footer_2">
                    <h1>Apni Dukan</h1>
                    <p>&#169 2021 A product By Adders</p>
                </div>
            </div>
        </div>


    </div>
    <div class="container-fluid body_container">
        {% block content %} {% endblock %}
    </div>

    <div class="footer">
        <div class="footer_body">
            <div class="footer_img">
                <img src="{% static './images/1.png' %}">
            </div>
            <div class="footer_links">
                <div class="footer_links_1">
                    <ul>
                        <li><a href="{% url 'customer-login' %}">Customer Login</a></li>
                        <li><a href="{% url 'business-login' %}">Seller Login</a></li>
                        <li><a href="{% url 'customer-signup' %}">Customer Account</a></li>
                        <li><a href="{% url 'contact' %}">Business Account</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">LinkedIn</a></li>
                    </ul>
                    <ul>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'contact' %}">Create Your E-Store</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_footer">
            <p class="developer_details"> &copy Copyright Reserved <span class="mr-1 ml-1">|</span> <span> Developed By </span><a href="#">Adders</a>
                <span class="made_in_india">Made In India </span> </p>
        </div>
    </div>

<script>
    let btn = document.querySelector("#btn")
    let content = document.querySelector(".content")
    let i1 = document.querySelector("#i1")
    btn.onclick = function () {
        content.classList.toggle("active");
        i1.classList.toggle("active");
    }
</script>

    <script src="{% static './js/side_nav.js' %}">
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>