{% extends path_to_user_base %} {% block content %} {% load static %}

<head>
    <title>Documents</title>
    <link rel="stylesheet" type="text/css" href="{% static './css/customer/auth/customer_auth.css' %}">
    <script src="{% static './js/password_validation.js' %}" defer=true></script>
    <style>
        .before_login_pc {
            background-image: url("{% static './images/auth/all_background.png' %}");
        }
        
        .before_login_pc_body_left {
            background-image: url("{% static './images/auth/bg_svg_img.png' %}");
        }
        
        .body-content {
            width: 100% !important;
            height: 100% !important;
            margin: 0px !important;
        }
        
        .before_login_pc_body {
            height: 90%;
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div class="before_login_pc">
        <div class="before_login_pc_body" style="width: 40%;">
            <div class="before_login_pc_body_right" style="width: 100%;">
                <div class="before_login_pc_body_right_body">
                    <div class="before_login_pc_body_right_box">

                        <div class="before_login_pc_body_right_top">
                            <div class="before_login_pc_body_right_box_header">
                                <span class="before_login_pc_body_right_box_header_arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-chevron-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </span>
                            </div>

                            <div class="before_login_pc_body_right_box_up">
                                <span class="before_login_pc_body_right_box_up_name">
                                    <a href="">Apni dukan</a>
                                </span>
                            </div>
                        </div>
                        <form action="{% url url_path message='change' %}" method="POST" class="before_login_pc_body_right_box_middle">
                            {% csrf_token %} {% if message != 'change' %} {% if message != None %}
                            <h3>{{message}}</h3>
                            {% endif %} {% endif %}
                            <div id="message"></div>
                            <input type="hidden" name="mobile_number" value="{{mobile_number}}">
                            <input type="hidden" name="password_mode" value="change_password">

                            <div class="before_login_pc_body_right_box_middle_text">
                                <h3>Create New Password</h3>
                                <p class="pblue">You can reset your password here!</p>

                            </div>

                            <div class="before_login_pc_body_right_password_box_middle_form">
                                <div class="before_login_pc_body_right_password_box_middle_form_input">
                                    <span class="input_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                            <path
                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                        </svg>
                                    </span>
                                    <span class="input_field">
                                        <input placeholder="Old password" type="Password" name="old_password" id="old_password" required>
                                    </span>
                                </div>
                                <div class="before_login_pc_body_right_password_box_middle_form_input">
                                    <span class="input_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                            <path
                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                        </svg>
                                    </span>
                                    <span class="input_field">
                                        <input type="Password" oninput="password_validation();" placeholder="Password" name="password" id="password" required>
                                    </span>
                                </div>
                                <div class="before_login_pc_body_right_password_box_middle_form_input">
                                    <span class="input_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                            <path
                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                        </svg>
                                    </span>
                                    <span class="input_field">
                                        <input type="Password" placeholder="Confirm Password" name="cpassword" id="cpassword" oninput="password_matching('password','cpassword','password_reset_submit','message')" required>
                                    </span>
                                </div>
                            </div>
                            <div class="before_login_pc_body_right_box_middle_text">
                                <p class="pgrey" style="color:#9999b1;font-size: 0.8rem;">Password must have at least 8 character. <br> Avoid using your name and any known words. </p>
                            </div>

                            <div class="before_login_pc_body_right_box_middle_buttons">
                                <button type="submit" id="password_reset_submit">Finish</button>
                            </div>

                        </form>

                        <div class="before_login_pc_body_right_box_base" style="right: 42%;">
                            <span class="before_login_pc_body_right_box_base_text">
                                @Apni Dukan 2021. All Right Reserved
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript">
        function password_validation() {
            $.post(
                '/change-password/change', {
                    password_mode: 'validation',
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                    password: $('input[name="password"]').val(),
                },
                function(data) {
                    document.getElementById('message').innerHTML = data.error;
                    if (data.error == "") {
                        console.log("No error");
                    } else {
                        let signup_submit_container = document.getElementById('password_reset_submit');
                        signup_submit_container.disabled = true;
                        signup_submit_container.style.opacity = "0.4";
                    }
                }
            );

        }
    </script>

</body>
{% endblock %}