{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static './css/landing_website/reset_password_success.css' %}">
    <title>Document</title>
</head>
<body>
   <div class="reset_password_success">
      <p>Password Changed Successfully</p>
      <p>Login to your account</p>
       {% if user_type == 'customer' %}
          <a href="{% url 'customer-login' %}">Customer-Login</a>
       {% else %}
          <a href="{% url 'business-login' %}">Business-login</a>
       {% endif %}
  
   </div>
</body>
</html>