{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Documents</title>
    <link rel="stylesheet" type="text/css" href="{% static './css/landing_website/reset_password.css' %}">
	<script src="{% static './js/password_validation.js' %}" defer=true></script>
</head>
<body>
 
    <div class="password_reset">
<!-----------------------------password tab------------------------------------->
        <form action="{% url 'forgot-password' %}" method="POST">
            {% csrf_token %}
            <div id="tab2">
                <h3>Create New Password</h3>				
            <div id="message"></div>
            <input type="hidden" name="mobile_number" value="{{mobile_number}}">
            <input type="Password" oninput="password_validation();"  placeholder="Password" name="password" id="password" required>
            <input type="Password"  placeholder="Confirm Password" name="cpassword"  id ="cpassword"
             oninput= "password_matching('password','cpassword','password_reset_submit','message')" required>
        
            <div class="button-box">
                <input type="hidden" name="password_mode" value="change_password">
                <button type="submit" id="password_reset_submit">Finish</button>
            </div>
        </div>


        </form>
		
	</div>






<script type="text/javascript">
	var tab2 = document.getElementById("tab2");		
	var next2 = document.getElementById("password_reset_submit");	

	next2.onclick= function(){
		tab2.style.left="-500px";		
		progress.style.width="500px";
	}
</script>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script  type="text/javascript">
function password_validation() {
$.post(
'/forgot-password',{
password_mode:	'validation',
csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
password: $('input[name="password"]').val(),
},
function (data) {
	document.getElementById('message').innerHTML = data.error;
	if(data.error == "") {
		console.log("No error");
	}
	else {
		let signup_submit_container = document.getElementById('password_reset_submit');
		signup_submit_container.disabled = true;
		signup_submit_container.style.opacity ="0.4";
	}
}
);

}
</script>

</body>