html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.password_reset{
	width: 50%;
	margin: 100px auto;
	padding: 30px;	
	background-color: #F1F1F1;
	border-radius: 10px;
}
.password_reset h3{
	font-size: 2rem;
	margin: 20px;
}
.password_reset input{
	font-size: 18px;
    line-height: 26px;
    padding: 11px 16px;
    border-radius: 4px;
    margin: 10px 0px 30px 0px;
    border: 1px solid #d9d9d9;
    width: 100%;
    color: #1a181e;
}
.password_reset button{
	font-size: 20px;
	width: 96%;
	height: 40px;
	background-color: #146eb4;
	border-radius: 5px;
	color: #fff;
	border:0;
	outline: none;
}
.button-box{
	margin: auto;
	text-align: center;
}
@media only screen and ( max-width: 600px){
.password_reset{
	width: 100%;
	padding: 20px;
	margin: 100px auto;
	text-align: center;
	background-color: #F1F1F1;
}
.password_reset h3 {
    font-size: 1.2rem;
    margin: 20px;
}

}
