li {
    list-style: none;
    text-decoration: none;
}

.catalog_page {
    margin-top: 50px;
}

button:focus {
    outline: 0;
}

.business_hero {
    width: 100%;
    height: 280px;
}

.business_hero img {
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
}

.info-img {
    width: 100px;
    height: 80px;
    margin: 0px 15px;
    margin-bottom: 30px;
}

.info-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.info-content {
    width: 100%;
    margin: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.sub-content {
    font-size: 0.7rem;
    color: rgb(168, 167, 167);
}

.info-name {
    margin-bottom: 0px;
}

.subscribe {
    color: #CC0000;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 600;
    border: none;
    text-decoration: none;
    margin-bottom: 15px;
}


/*--------------------------------    category_top------------------*/

.category_top-flexbox::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.category_top-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    justify-content: flex-start;
}

.category_top-flexbox li {
    width: 120px;
    display: inline-block;
    flex: 0 0 auto;
}

.category_margin {
    margin: 1rem 0rem 0rem 0rem;
    margin-left: 0.5rem;
}

.category_top_img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.category_top_img img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}

.category_top_content p {
    text-align: center;
    color: rgb(73, 73, 73);
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 500;
    width: 100%;
    text-decoration: none;
}


/*--------------------------------    category_top------------------*/


/*--------------------------------card_catalog_listing------------------*/

.catalog_card_listing {
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}

.catalog_card {
    width: 23%;
    display: block;
    margin: 20px 1%;
    box-shadow: 0 5px 20px 0px rgb(0 0 0 / 12%);
    border-radius: 20px;
}

.catalog_card_img {
    width: 100%;
    height: 200px;
}

.catalog_card_img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.product_name {
    color: #555;
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 600;
    text-align: left;
    margin: 0rem 0px 0.2rem 0rem;
    padding-top: 0.4rem;
    width: 100%;
    text-decoration: none;
}

.catalog_card_text {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.catalog_card_text h3 {
    margin: 10px 0px 5px 0px;
    font-weight: 500;
    font-size: 1.5rem;
}

.catalog_card_text h5 {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.price {
    line-height: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center !important;
    color: #06D755;
}

.pack_size,
.mrp {
    color: rgb(167, 167, 167);
    font-size: 0.8rem;
    margin: 0.5rem 0rem;
    height: 0.8rem;
}

.add_btn {
    margin: auto;
    margin-top: 5px;
    font-size: 16px;
    width: 90%;
    height: 30px;
    background-color: #618FF0;
    border-radius: 50px;
    color: #fff;
    border: 0;
    outline: none;
}
.add_btn_out_of_stock{
        margin: auto;
    margin-top: 5px;
    font-size: 16px;
    width: 90%;
    height: 30px;
    border-radius: 50px;
    color: #fff;
    border: 0;
    outline: none;
        background-color: #c9c9c9;
}

.add-minus-btn {
    margin: 5px auto 0px auto;
    font-size: 16px;
    width: 70%;
    height: 30px;
}

.plus_btn,
.items,
.minus_btn {
    width: 33.33%;
    text-align: center;
    border: 0;
    outline: none;
}

.plus_btn,
.minus_btn {
    color: #fff;
    font-size: 14px;
    background-color: #146eb4;
    border: none;
}

.plus_btn {
    border-radius: 0px 5px 5px 0px;
}

.minus_btn {
    border-radius: 5px 0px 0px 5px;
}


/*---------------------cart-----------------*/

#cart_menu {
    width: 100%;
    background-color: transparent;
    color: #fff;
}

.cart_menu_inner_inner {
    width: 100%;
    display: flex;
    padding: 5px 0px;
}

.cart_menu_inner {
    background-color: #146eb4;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    padding: 0px 20px;
}

.cart_menu_inner a {
    width: 100%;
    display: block;
}

.cart_details {
    width: 80%;
    margin: auto;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #fff;
}

.view_cart {
    text-align: right;
    margin: auto;
    width: 50%;
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: #fff;
}

.cart_form {
    width: 100%;
}

.cart_icon {
    font-size: 0.8rem;
    line-height: 1rem;
    color: #fff;
}

.cart_icon svg {
    padding-top: 5px;
}


/*----------------------------responsive-----------------*/


/*----------------------------responsive-------------------*/

@media only screen and ( max-width: 800px) {
    .subscribe {
        font-size: 0.8rem;
        line-height: 0.8rem;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .catalog_listing {
        margin: 0px;
        padding: 10px;
        display: block;
        flex-flow: row wrap;
    }
    .catalog_card {
        margin: 0.6rem auto;
        padding: 1rem 10px;
        width: 95%;
        display: flex;
        flex-flow: row wrap;
        border-bottom: 1px solid #f1f1f1;
        box-shadow: none;
        border-radius: 0px;
        box-shadow: 0 5px 20px 0px rgb(0 0 0 / 12%);
    }
    .catalog_card_listing {
        margin: 0px;
        padding: 2px;
        display: flex;
        flex-flow: row wrap;
    }
    .catalog_card_img {
        width: 25%;
        height: 80px;
    }
    .catalog_card_img img {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .catalog_card_text {
        width: 75%;
        padding-left: 15px;
        text-align: left;
    }
    .price {
        line-height: 2rem;
        font-weight: 500;
        font-size: 1rem;
        text-align: center !important;
        color: #06D755;
    }
    .catalog_card_text h3 {
        margin: 0px 0px 5px 0px;
        font-weight: 500;
        font-size: 1rem;
    }
    .catalog_card_text h5 {
        font-size: 0.8rem;
    }
    .add_btn {
        margin-top: 8px;
        font-size: 12px;
        width: 30%;
        height: 20px;
        float: right;
        background-color: #618FF0;
        border-radius: 5px;
        color: #fff;
        border: 0;
        outline: none;
    }
    .add_btn_out_of_stock{
        margin-top: 8px;
    font-size: 12px;
    width: 40%;
    height: 20px;
    float: right;
      background-color: #c9c9c9;
    border-radius: 5px;
    color: #fff;
    border: 0;
     padding: 0px;
    outline: none;
    }
    .add-minus-btn {
        margin-top: 8px;
        font-size: 12px;
        width: 30%;
        height: 20px;
        float: right;
    }
    .plus_btn,
    .items,
    .minus_btn {
        width: 33.33%;
        text-align: center;
        border: 0;
        outline: none;
    }
    .plus_btn,
    .minus_btn {
        color: #fff;
        font-size: 14px;
        background-color: #146eb4;
    }
    .cart_details {
        width: 80%;
        margin: auto;
        font-size: 0.8rem;
        line-height: 1.6rem;
        color: #fff;
    }
}


/* ............... */

html {
    scroll-behavior: inherit;
    scroll-behavior: initial;
    scroll-behavior: unset;
    scroll-behavior: smooth;
    scroll-margin-top: 200px;
}

ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

h1,
p {
    line-height: 1rem;
}

button:focus {
    outline: none !important;
}

.catalog_menu_section {
    position: fixed;
    bottom: 10px;
    z-index: 10;
    right: 0px;
    left: 0px;
    transition: .3s all ease-in-out;
    width: 80%;
    margin: auto;
}

.menu_div {
    width: 100%;
    background-color: red;
}

.menu_inner {
    width: 20%;
    float: right;
    margin-bottom: 0.5rem;
}

.test {
    position: relative;
    z-index: -1;
}

.menu {
    background-color: #fff;
    padding: 10px;
    max-height: 30rem;
    overflow-y: scroll;
    box-sizing: border-box;
    box-shadow: 0 5px 20px 0px rgb(0 0 0 / 12%);
}

.menu li {
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
}

.menu li a {
    color: #555;
}
.category_icon{
margin-right: 2px;}
.catalog_menu_button {
    display:flex;
    width: 7.6rem;
    height: 2.6rem;
    color: #fff;
    border-radius: 6.6rem;
    background: rgb(54, 54, 54);
    border: 1px solid rgb(54, 54, 54);
        padding: 12px 22px;
    cursor: pointer;
    transition: .3s all ease-in-out;
    float: right;
    margin-right: 15px;
}

.menu::-webkit-scrollbar {
    width: 5px;
}

.menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.menu::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

.menu::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

.add_to_cart {
    width: 100%;
    transition: .3s all ease-in-out;
    height: 0px;
}

.cart_buy {
    background-color: transparent;
    border: none;
    text-align: right;
    margin: auto;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: #fff;
}

.up,
.down {
    float: right;
    margin-right: 4rem;
}

.close {
    display: none;
}

.open {
    display: flex;
}

@media only screen and ( max-width: 800px) {
    .cart_menu_inner {
        background-color: #146eb4;
        width: 95%;
        margin: auto;
        border-radius: 10px;
        margin-bottom: 5px;
        display: flex;
        padding: 0px 15px;
    }
    .menu_inner {
        width: 38%;
        float: right;
        margin-bottom: 0.5rem;
    }
    .catalog_menu_section {
        width: 100%;
        margin: auto;
    }
    .category_margin {
        margin: 0.5rem 0rem;
    }
    .business_hero {
        width: 100%;
        height: 160px;
    }
    .info-img {
        width: 60px;
        height: 60px;
        margin: 0.8rem 1rem;
        margin-bottom: 0px;
    }
    .info-content {
        width: 80%;
        margin: 5px 0rem;
        display: block;
        justify-content: space-between;
    }
    .info-2 p {
        margin: 0.4rem 0rem;
    }
    .info {
        margin-bottom: 1rem;
    }
    .category_top-flexbox li {
        width: 80px;
    }
    .category_top_img {
        width: 45px;
        height: 45px;
        margin: auto;
    }
    .cardheader {
        color: rgb(28, 28, 28);
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 600;
        margin: 0px 0px 3.2rem 1rem;
    }
    .up,
    .down {
        float: right;
        margin-right: 1rem;
        margin-top: 0.6rem;
    }
    .product_name {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 500;
        text-align: left;
        margin: 0rem 0rem 0.2rem 0rem;
        padding-top: 0rem;
        width: 100%;
        text-decoration: none;
    }
    .catalog_card_text {
        padding: 0px 15px;
    }
    .pack_size,
    .mrp {
        color: rgb(167, 167, 167);
        font-size: 0.7rem;
        margin: 0rem 0rem;
    }
    .display_block {
        display: flex!important;
    }
    .business_name {
        color: #222;
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 500;
        margin: 0.3rem 0rem 0rem 0rem;
    }

    .catalog_menu_button {
        width: 6rem;
        height: 2rem;
        color: #fff;
        border-radius: 6.6rem;
        background: rgb(54, 54, 54);
        border: 1px solid rgb(54, 54, 54);
        padding: 8px 10px;
        cursor: pointer;
        transition: .3s all ease-in-out;
    }
    .category_menu {
        margin: auto;
    }
    .category_icon svg {
        font-size: 1rem;
    }
    .menu_inner {
        width: 50%;
        float: right;
        margin-bottom: 0.5rem;
    }
    .menu li a {
        font-size: 0.8rem;
        font-weight: 500;
    }
    .menu {
        max-height: 20rem;
    }
}

.unsubscribe {
    color: #555;
}

.more {
    text-decoration: underline;
}

.display_block {
    display: flex!important;
}

.display_none {
    display: none!important;
}

.unsubscribe {
    color: #555;
    font-size: 0.7rem;
    line-height: 0.9rem;
}