{% extends '../base.html' %}
{% block content %}
{% load static %}
<head>

    <title>Inventory</title>
</head>
<body>

    <div class="inventory_body">

        <div>
            <ul class="product_list">
                {% for product in products reversed %}
                <li >
                    <a href="{% url 'inventory_edit' product_id=product.id %}" class="d-flex justify-content-between align-items-start">
                        <p>{{product.name}}</p>   
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                          </svg></span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

   

</div>
</body>
{% endblock %}